<!DOCTYPE html>
<html lang="en" data-id="HTML_1" id="HTML_1">

<head data-id="HEAD_1" id="HEAD_1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <meta charset="utf-8" data-id="META_1" id="META_1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" data-id="META_2" id="META_2">
    <meta name="viewport" content="width=device-width, initial-scale=1" data-id="META_3" id="META_3">
    <meta name="description" content="" data-id="META_4" id="META_4">
    <meta name="author" content="" data-id="META_5" id="META_5">

    <title data-id="TITLE_1" id="TITLE_1">New Age - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" data-id="LINK_1" id="LINK_1">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" data-id="LINK_2" id="LINK_2">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet" data-id="LINK_3" id="LINK_3">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet" data-id="LINK_4" id="LINK_4">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css" data-id="LINK_5" id="LINK_5">
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css" data-id="LINK_6" id="LINK_6">
    <link rel="stylesheet" href="vendor/device-mockups/device-mockups.min.css" data-id="LINK_7" id="LINK_7">

    <!-- Theme CSS -->
    <link href="css/new-age.min.css" rel="stylesheet" data-id="LINK_8" id="LINK_8">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="BODY_1" data-id="BODY_1">
<side-bar class="sidebar"></side-bar>

    <nav id="NAV_1" class="navbar navbar-default navbar-fixed-top" data-id="NAV_1">
        <div class="container" data-id="DIV_1" id="DIV_1">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" data-id="DIV_2" id="DIV_2">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" data-id="BUTTON_1" id="BUTTON_1">
                    <span class="sr-only" data-id="SPAN_1" id="SPAN_1">Toggle navigation</span> Menu <i class="fa fa-bars" data-id="I_1" id="I_1"></i>
                </button>
                <a class="textable" href="#page-top" data-id="A_1" id="A_1">Start Bootstrap</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="DIV_3" data-id="DIV_3">
                <ul class="nav navbar-nav navbar-right" data-id="UL_1" id="UL_1">
                    <li data-id="LI_1" id="LI_1">
                        <a class="textable" href="#download" data-id="A_2" id="A_2">Download</a>
                    </li>
                    <li data-id="LI_2" id="LI_2">
                        <a class="textable" href="#features" data-id="A_3" id="A_3">Features</a>
                    </li>
                    <li data-id="LI_3" id="LI_3">
                        <a class="textable" href="#contact" data-id="A_4" id="A_4">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header data-id="HEADER_1" id="HEADER_1" data-slide="home" show-hide="">
        <div class="container" data-id="DIV_4" id="DIV_4">
            <div class="row" data-id="DIV_5" id="DIV_5">
                <div class="col-sm-7" data-id="DIV_6" id="DIV_6">
                    <div class="header-content" data-id="DIV_7" id="DIV_7">
                        <div class="header-content-inner" data-id="DIV_8" id="DIV_8">
<button class="edit-slide" ng-hide="editStates.section">edit</button><to-checkbox ng-show="editStates.section"></to-checkbox><button class="create-slide" ng-click="submitPage()">Submit</button><button class="create-slide" ng-click="createSlide($event)">Make New Slide</button>
                            <h1 data-id="H1_1" id="H1_1" class="textable">New Age is an app landing page that will help you beautifully showcase your new mobile app, or anything else!</h1>
                            <a href="#download" class="textable" data-id="A_5" id="A_5">Start Now for Free!</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5" data-id="DIV_9" id="DIV_9">
                    <div class="device-container" data-id="DIV_10" id="DIV_10">
                        <div class="device-mockup iphone6_plus portrait white" data-id="DIV_11" id="DIV_11">
                            <div class="device" data-id="DIV_12" id="DIV_12">
                                <div class="screen" data-id="DIV_13" id="DIV_13">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="img/demo-screen-1.jpg" class="textable" alt="" data-id="IMG_1" id="IMG_1">
                                </div>
                                <div class="button" data-id="DIV_14" id="DIV_14">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <section id="SECTION_1" class="download bg-primary text-center" data-id="SECTION_1" data-slide="home" show-hide=""><button class="edit-slide" ng-hide="editStates.section">edit</button><to-checkbox ng-show="editStates.section"></to-checkbox><button class="create-slide" ng-click="submitPage()">Submit</button><button class="create-slide" ng-click="createSlide($event)">Make New Slide</button>
        <div class="container" data-id="DIV_15" id="DIV_15">
            <div class="row" data-id="DIV_16" id="DIV_16">
                <div class="col-md-8 col-md-offset-2" data-id="DIV_17" id="DIV_17">
                    <h2 class="textable" data-id="H2_1" id="H2_1">Discover what all the buzz is about!</h2>
                    <p data-id="P_1" id="P_1" class="textable">Our app is available on any mobile device! Download now to get started!</p>
                    <div class="badges" data-id="DIV_18" id="DIV_18">
                        <a class="textable" href="#" data-id="A_6" id="A_6"><img src="img/google-play-badge.svg" alt="" data-id="IMG_2" id="IMG_2" class="textable"></a>
                        <a class="textable" href="#" data-id="A_7" id="A_7"><img src="img/app-store-badge.svg" alt="" data-id="IMG_3" id="IMG_3" class="textable"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="SECTION_2" class="features" data-id="SECTION_2" data-slide="home" show-hide=""><button class="edit-slide" ng-hide="editStates.section">edit</button><to-checkbox ng-show="editStates.section"></to-checkbox><button class="create-slide" ng-click="submitPage()">Submit</button><button class="create-slide" ng-click="createSlide($event)">Make New Slide</button>
        <div class="container" data-id="DIV_19" id="DIV_19">
            <div class="row" data-id="DIV_20" id="DIV_20">
                <div class="col-lg-12 text-center" data-id="DIV_21" id="DIV_21">
                    <div class="section-heading" data-id="DIV_22" id="DIV_22">
                        <h2 data-id="H2_2" id="H2_2" class="textable">Unlimited Features, Unlimited Fun</h2>
                        <p class="textable" data-id="P_2" id="P_2">Check out what you can do with this app theme!</p>
                        <hr data-id="HR_1" id="HR_1">
                    </div>
                </div>
            </div>
            <div class="row" data-id="DIV_23" id="DIV_23">
                <div class="col-md-4" data-id="DIV_24" id="DIV_24">
                    <div class="device-container" data-id="DIV_25" id="DIV_25">
                        <div class="device-mockup iphone6_plus portrait white" data-id="DIV_26" id="DIV_26">
                            <div class="device" data-id="DIV_27" id="DIV_27">
                                <div class="screen" data-id="DIV_28" id="DIV_28">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="img/demo-screen-1.jpg" class="textable" alt="" data-id="IMG_4" id="IMG_4"> </div>
                                <div class="button" data-id="DIV_29" id="DIV_29">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8" data-id="DIV_30" id="DIV_30">
                    <div class="container-fluid" data-id="DIV_31" id="DIV_31">
                        <div class="row" data-id="DIV_32" id="DIV_32">
                            <div class="col-md-6" data-id="DIV_33" id="DIV_33">
                                <div class="feature-item" data-id="DIV_34" id="DIV_34">
                                    <i class="icon-screen-smartphone text-primary" data-id="I_2" id="I_2"></i>
                                    <h3 data-id="H3_1" id="H3_1" class="textable">Device Mockups</h3>
                                    <p class="textable" data-id="P_3" id="P_3">Ready to use HTML/CSS device mockups, no Photoshop required!</p>
                                </div>
                            </div>
                            <div class="col-md-6" data-id="DIV_35" id="DIV_35">
                                <div class="feature-item" data-id="DIV_36" id="DIV_36">
                                    <i class="icon-camera text-primary" data-id="I_3" id="I_3"></i>
                                    <h3 data-id="H3_2" id="H3_2" class="textable">Flexible Use</h3>
                                    <p class="textable" data-id="P_4" id="P_4">Put an image, video, animation, or anything else in the screen!</p>
                                </div>
                            </div>
                        </div>
                        <div class="row" data-id="DIV_37" id="DIV_37">
                            <div class="col-md-6" data-id="DIV_38" id="DIV_38">
                                <div class="feature-item" data-id="DIV_39" id="DIV_39">
                                    <i class="icon-present text-primary" data-id="I_4" id="I_4"></i>
                                    <h3 data-id="H3_3" id="H3_3" class="textable">Free to Use</h3>
                                    <p class="textable" data-id="P_5" id="P_5">As always, this theme is free to download and use for any purpose!</p>
                                </div>
                            </div>
                            <div class="col-md-6" data-id="DIV_40" id="DIV_40">
                                <div class="feature-item" data-id="DIV_41" id="DIV_41">
                                    <i class="icon-lock-open text-primary" data-id="I_5" id="I_5"></i>
                                    <h3 data-id="H3_4" id="H3_4" class="textable">Open Source</h3>
                                    <p class="textable" data-id="P_6" id="P_6">Since this theme is MIT licensed, you can use it commercially!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    

    <section class="cta" data-id="SECTION_3" id="SECTION_3" data-slide="home" show-hide=""><button class="edit-slide" ng-hide="editStates.section">edit</button><to-checkbox ng-show="editStates.section"></to-checkbox><button class="create-slide" ng-click="submitPage()">Submit</button><button class="create-slide" ng-click="createSlide($event)">Make New Slide</button>
        <div class="cta-content" data-id="DIV_42" id="DIV_42">
            <div class="container" data-id="DIV_43" id="DIV_43">
                <h2 data-id="H2_3" id="H2_3" class="textable">Stop waiting.<br data-id="BR_1" id="BR_1">Start building.</h2>
                <a href="#contact" class="textable" data-id="A_8" id="A_8">Let's Get Started!</a>
            </div>
        </div>
        <div class="overlay" data-id="DIV_44" id="DIV_44"></div>
    </section>

    <section id="SECTION_4" class="contact bg-primary" data-id="SECTION_4" data-slide="home" show-hide=""><button class="edit-slide" ng-hide="editStates.section">edit</button><to-checkbox ng-show="editStates.section"></to-checkbox><button class="create-slide" ng-click="submitPage()">Submit</button><button class="create-slide" ng-click="createSlide($event)">Make New Slide</button>
        <div class="container" data-id="DIV_45" id="DIV_45">
            <h2 data-id="H2_4" id="H2_4" class="textable">We <i class="fa fa-heart" data-id="I_6" id="I_6"></i> new friends!</h2>
            <ul class="list-inline list-social" data-id="UL_2" id="UL_2">
                <li class="social-twitter" data-id="LI_4" id="LI_4">
                    <a href="#" data-id="A_9" id="A_9" class="textable"><i class="fa fa-twitter" data-id="I_7" id="I_7"></i></a>
                </li>
                <li class="social-facebook" data-id="LI_5" id="LI_5">
                    <a href="#" data-id="A_10" id="A_10" class="textable"><i class="fa fa-facebook" data-id="I_8" id="I_8"></i></a>
                </li>
                <li class="social-google-plus" data-id="LI_6" id="LI_6">
                    <a href="#" data-id="A_11" id="A_11" class="textable"><i class="fa fa-google-plus" data-id="I_9" id="I_9"></i></a>
                </li>
            </ul>
        </div>
    </section>

    <footer data-id="FOOTER_1" id="FOOTER_1">
        <div class="container" data-id="DIV_46" id="DIV_46">
            <p data-id="P_7" id="P_7" class="textable">© 2016 Start Bootstrap. All Rights Reserved.</p>
            <ul class="list-inline" data-id="UL_3" id="UL_3">
                <li data-id="LI_7" id="LI_7">
                    <a href="#" data-id="A_12" id="A_12" class="textable">Privacy</a>
                </li>
                <li data-id="LI_8" id="LI_8">
                    <a href="#" data-id="A_13" id="A_13" class="textable">Terms</a>
                </li>
                <li data-id="LI_9" id="LI_9">
                    <a href="#" data-id="A_14" id="A_14" class="textable">FAQ</a>
                </li>
            </ul>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js" data-id="SCRIPT_1" id="SCRIPT_1"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js" data-id="SCRIPT_2" id="SCRIPT_2"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js" data-id="SCRIPT_3" id="SCRIPT_3"></script>

    <!-- Theme JavaScript -->
    <script src="js/new-age.min.js" data-id="SCRIPT_4" id="SCRIPT_4"></script>

</div></section>
</body>

</html>
