<div class='panel panel-default blog-modal'>
  <div class='panel-heading'>
    <h1>This <small>is what your</small> blog <small>could look like!</small></h1>
    <button class='btn btn-primary modal-btn' ng-click='modal.ok()'>Add a blog</button>
  </div>

  <div class='panel-body'>
    <label class='well well-sm'>
      <h3>New Blog Post.</h3>
      <textarea class='form-control' rows='5'></textarea><br>
      <button class='btn btn-primary btn-xs'>submit</button>
    </label><br>

    <div class='well well-lg' ng-repeat='b in modal.data.cached'>
      <h3>{{b.title}}</h3>
      <p class='lead'>created at {{b.created_at | date}} by {{b.author}}</p>
      <p>{{b.body}}</p><br>
    </div>
  </div>
</div>
